<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/budget.js"></script>
</head>
<body style="background-color: gray;">
    Hello World!
    <button>Tester</button>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sed autem ratione reprehenderit distinctio laboriosam 
        ipsam vero, quia eaque eligendi sint ullam ex, ducimus, 
        quos consequuntur. Iste illum voluptatum illo cum?
    </p>

        <div class="item_display">
        <h2>Red_Box</h2>
    </div>
    <div class="item_display">
        <div class="red_box"></div>
    </div>
    <div class="item_display">
        <button id="buy">Buy</button>
        <input type="number" min="1" max="99">
    </div>
    <p class="budget">Testing</p>
</body>
</html>